html,
body,
#root {
    margin: 0;
    padding: 0;
    /* height: 100%; */
    font-family: 'Quicksand', sans-serif;
}

.auth-page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('../assets/authBg-img.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'Quicksand', sans-serif;
}

.bg-cover-layer {
    background-color: black;
    opacity: 70%;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
}

.auth-wrapper {
    position: relative;
    width: 900px;
    height: 650px;
    margin: 30px auto;
    overflow: hidden;
    /* box-shadow: 0 0 20px rgba(250, 133, 133, 0.2); */
    border-radius: 20px;
    /* display: flex; */
    background-color: #F7F4F4;
    /* display: flex;
    align-items: center; */
    z-index: 1;

}

/* Form bên trái và phải */
.form-container {
    position: absolute;
    width: 55%;
    height: 100%;
    padding: 15px 40px;
    overflow-y: auto;

    overflow: hidden;
    /* justify-content: space-between; */
}

.left-form {
    left: 0;
}

.right-form {
    right: 0;
    /* text-align: right; */
}

/* Cửa sổ ảnh trượt */

.sliding-image {
    position: relative;
    top: 0;
    left: 0;
    width: 45%;
    height: 100%;
    padding: 12px;
    /* border-radius: 20px; */
    transition: transform 0.8s ease;
    z-index: 2;
    overflow: hidden;
    display: flex;
}

.sliding-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.cover-layer {
    position: absolute;
    background-color: black;
    z-index: 2;
    opacity: 70%;
    width: 94%;
    height: 96%;
    border-radius: 20px;
    margin: 9px 12px;
    inset: 0;
    pointer-events: none;
    top: 3px;

}

/* Nút chuyển */
.toggle-buttons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

/* login form */

.slogan {
    margin: 25px 0;
    font-weight: bold;
}

.slogan div {
    font-size: 14px;
}

.input-wrapper {
    position: relative;
    width: 100%;
    /* max-width: 400px; */
    display: flex;

}

.input-wrapper input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: white;
    font-size: 16px;
    /* height: 55px; */
}

.input-wrapper i {
    color: #999;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}

#pw-btn {
    color: #999;
    font-size: 14px;
    text-decoration: none;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 1rem 0;
    color: #999;
    font-size: 14px;
}

.divider::before {
    margin-right: 10px;
}

.divider::after {
    margin-left: 10px;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    /* margin: 0 1rem; */
}

.auth-btn {
    background-color: #95F99F;
    color: black;
    width: 100%;
    border: none;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 20px;
}

.gg-auth-btn {
    background-color: black;
    color: white;
    width: 100%;
    border: none;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
}

.auth-note {
    margin: 20px 0;
    font-size: 14px;
}

.note-line {
    color: #999;
}

.auth-note button {
    color: black;
    text-decoration: none;
    font-size: 14px;
    padding: 0;
    margin-bottom: 4px;
    text-align: start;
    font-weight: bold;
}

/* register */
.dropdown {
    border: none;
    border-radius: 20px;
    width: 100%;
    background-color: white;
    justify-content: center;
}

.dropdown select {
    width: 100%;
    border: none;
    margin: 5px;
    outline: none;
    box-shadow: none;
}